{% extends 'base.html' %}
{% load static %}
{% block content %}

<main class="contact-us">
    <div class="banner">
      <img src="{% static './assets/images/bg-banner.png'%}" alt="" class="img-fluid w-100">
      <h1 class="text-center">
        Dashboard
      </h1>
    </div>

    <section class="container mt-5">
      <h2 class="text-center">Welcome to Dashboard</h2>
      <h4 class="text-center text-white-50">
        hi, First_name. Hope you are having a good day
      </h4>

      <div class="table-responsive- mt-3">

        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">YTubers_name</th>
              <th scope="col">City</th>
              <th scope="col">Visit</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>
                <div class="btn btn-accent">Go to Page </div>
              </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>
                <div class="btn btn-accent">Go to Page </div>
              </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>
                <div class="btn btn-accent">Go to Page </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </section>
  </main>

{% endblock %}